<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" />
      
    <title>MAN Shipping</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-white position-sticky top-0 start-0">
            <div class="container-fluid">
              <a class="navbar-brand" style="color: black" href="#">
                <img src="logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top" />
                MAN LOGISTIC
              </a>
      
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/admin/reports">Reports</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/admin/packages">Packages</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/admin/users">Users</a>
                </li>
              </ul>
      
              <div class="d-flex align-items-right">
                <button type="button" class="btn btn-danger" onclick="logout()">Log Out</button>
              </div>
            </div>
          </nav>
    </header>
    <!-- Payments section -->
    <section class="col-8 mx-auto">
        <div class="mb-2">
            <h2>Payments Completed</h2>
            <p>Show the payments that have been confirmed and completed.</p>
            <button type="button" class="btn btn-primary col-12" onclick="getReport('payments')">Show</button>
        </div>
        <table  class="table table-bordered">
            <thead>
                <tr>
                    <th>Package Number</th>
                    <th>Payment Amount (SAR)</th>
                </tr>
            </thead>
            <tbody id="payments_table_body" class="table-group-divider">
                <tr>
                    <td colspan="2">Nothing to show yet</td>
                </tr>
            </tbody>
        </table>
    </section>
    <!-- Lost/delayed/delivered packages section -->
    <section class="col-8 mx-auto">
        <div class="mb-2">
            <h2>Packages Between Two Dates</h2>
            <p>Show the packages between the two specified dates.</p>
            <form action="javascript:void(0);" onsubmit="getReport('packagedates')">
                <div class="row mb-2">
                    <div class="form-group col-6">
                        <label for="showpackage_time1" class="form-label">Time</label>
                        <input type="datetime-local" class="form-control" id="showpackage_time1" name="time" step="1" placeholder="Time" required />
                    </div>
                    <div class="form-group col-6">
                        <label for="showpackage_time2" class="form-label">Time</label>
                        <input type="datetime-local" class="form-control" id="showpackage_time2" name="time" step="1" placeholder="Time" required />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary col-12">Show</button>
            </form>
            
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Package Number</th>
                    <th>Payment Amount (SAR)</th>
                </tr>
            </thead>
            <tbody id="packagedates_table_body" class="table-group-divider">
                <tr>
                    <td colspan="2">Nothing to show yet</td>
                </tr>
            </tbody>
        </table>
    </section>
    <!-- Total Number of package types between two dates section -->
    <section class="col-8 mx-auto">
        <div class="mb-2">
            <h2>Package Types Totals</h2>
            <p>Show the total number of package types sent between two dates.</p>
            <form action="javascript:void(0);" onsubmit="getReport('packagetypes')">
                <div class="row mb-2">
                    <div class="form-group col-6">
                        <label for="packagetypes_time1" class="form-label">Time</label>
                        <input type="datetime-local" class="form-control" id="packagetypes_time1" name="time" step="1" placeholder="Time" required />
                    </div>
                    <div class="form-group col-6">
                        <label for="packagetypes_time2" class="form-label">Time</label>
                        <input type="datetime-local" class="form-control" id="packagetypes_time2" name="time" step="1" placeholder="Time" required />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary col-12">Show</button>
            </form>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Regular</th>
                    <th>Fragile</th>
                    <th>Liquid</th>
                    <th>Chemical</th>
                </tr>
            </thead>
            <tbody id="packagetypes_table_body" class="table-group-divider">
                <tr>
                    <td colspan="4">Nothing to show yet</td>
                </tr>
            </tbody>
        </table>
    </section>
    <!-- Package Delivery Tracking section  -->
    <section class="col-8 mx-auto">
        <div class="mb-2">
            <h2>Package Delivery Tracking Based on Variables</h2>
            <p>Show the list of packages based on categories, locations and status.</p>
            <form action="javascript:void(0);" onsubmit="getReport('packagetrack')">
                <div class="row mb-2">
                    <div class="form-group col-3">
                        <label for="deliverytracking_category_input">Category</label>
                        <select id="deliverytracking_category_input" name="category" class="form-select" required>
                            <option value="Regular">Regular</option>
                            <option value="Fragile">Fragile</option>
                            <option value="Liquid">Liquid</option>
                            <option value="Chemical">Chemical</option>
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <label for="deliverytracking_country_input">Country</label>
                        <input type="text" class="form-control" id="deliverytracking_country_input" placeholder="Country" required>
                    </div>
                    <div class="form-group col-3">
                        <label for="deliverytracking_city_input">City</label>
                        <input type="text" class="form-control" id="deliverytracking_city_input" placeholder="City" required>
                    </div>
                    <div class="form-group col-3">
                        <label for="deliverytracking_status_input">Status</label>
                        <select id="deliverytracking_status_input" name="status" class="form-select" required>
                            <option value="In Transit">In Transit</option>
                            <option value="Delivered">Delivered</option>
                            <option value="Lost">Lost</option>
                            <option value="Damaged">Damaged</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary col-12">Show</button>
            </form>
            
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Package Number</th>
                    <th>Destination</th>
                    <th>Value</th>
                    <th>Sender SSN</th>
                    <th>Receiver SSN</th>
                    <th>Retail Center ID</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody id="packagetrack_table_body" class="table-group-divider">
                <tr>
                    <td colspan="7">Nothing to show yet</td>
                </tr>
                
            </tbody>
        </table>
    </section>
    <!-- Packages of a Customer section -->
    <section class="col-8 mx-auto">
        <div class="mb-2">
            <h2>Packages of a Customer</h2>
            <p>Show the packages information either sent or received by a particular customer.</p>
            <form action="javascript:void(0);" onsubmit="getReport('packagecustomer')">
                <div class="row mb-2">
                    <div class="form-group col-12">
                        <label for="customerpackage_ssn_input">Customer SSN</label>
                        <input type="text" class="form-control" id="customerpackage_ssn_input" placeholder="Social Security Number" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary col-12">Show</button>
            </form>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Package Number</th>
                    <th>Destination</th>
                    <th>Value</th>
                    <th>Sender SSN</th>
                    <th>Reciever SSN</th>
                    <th>Retail Center ID</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody id="packagecustomer_table_body" class="table-group-divider">
                <tr>
                    <td colspan="7">Nothing to show yet</td>
                </tr>
            </tbody>
        </table>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="AJAXFunctions.js"></script>
</body>
</html>