.btn.login {
  border: solid  1px #153C3F;
  
}
.btn {
  border-radius: 0px;
  font-weight: bold;
}

.nav-link{
  font-size: large;
  color: #153C3F;
  font-weight: bold;
}
.nav-link:hover{
  color: #24686d;
}
.btn:hover {
  border-radius: 5px;
  color: white;
 background-color: #153C3F;
}
 .navbar{
  color: #153C3F;
  position: sticky;
  top: 0;

}
